<template>
  <div class="container">
    <navbar />
    <div class="blogs-page">
      <div class="main-content">
        <div class="container">
          <div class="columns is-mobile">
            <div class="column is-8 is-offset-2">
              <div class="section">
                <div class="title">
                  <h1>Newest Posts</h1>
                  <hr />
                </div>
                <post-item
                  v-for="post in posts"
                  :key="post._id"
                  :id="post._id"
                  :title="post.title"
                  :subtitle="post.subtitle"
                  :date="post.createdAt"
                  :isRead="post.isRead"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Navbar from '@/components/Navbar'
import PostItem from '@/components/PostItem'

export default {
  components: {
    Navbar,
    PostItem
  },

  computed: {
    ...mapState({
      posts: (state) => state.post.items,
      archivedPosts: (state) => state.post.archivedItems
    })
  },

  fetch({ store }) {
    if (store.getters['post/hasEmptyItems']) {
      return store.dispatch('post/fetchPosts')
    }
  },

  // async asyncData() {
  //   const posts = await fetchPostsAPI()
  //   return { posts }
  // },

  mounted() {
    this.$store.dispatch('post/getArchivedPosts')
  }
}
</script>
